

.calculator{

    display: grid;
    min-width: 100vh;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #599B8B;

    
}

.buttons{

    display: flex;
    flex-direction: row;
    min-height: 10vh;
    height: 10vh;
}

#screen{

    background-color: #C4FAC8;
    min-height: 10vh;
    height: 10vh;
    min-width: 70vh;
    width: 70vh;
    margin-left: auto;
    margin-right: auto;

}

.numbers{

    display: grid;
    padding-top: 4vh;
    border-width: 1px;
    height: auto;
    width: auto;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
   
}

.side1{

    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;

}

.four-functions{

    display: flex;
    padding-top: 4vh;
    flex-direction: column;
    float: right;
    width: 50%;

}

